.image {
    width: 380px;
    height: 280px;
    border: 5px solid white;
    border-radius: 5px;
    margin-right: 60px;
    margin-left: 223px;
}

.text h2 {
    font-weight: 700;
}

.text {
    margin-right: 225px;
}

.blog {
    margin-top: 104px;
    margin-bottom: 71px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    pointer-events: pointer;
}